<nav class="vnuf-sidebar">

    <a href="/" class="sidebar-brand">

        <div class="logo-box">
            <i class="fa fa-leaf"></i>
        </div>

        VNUF Learning

    </a>

    <ul class="sidebar-nav">

        <li>
            <a asp-controller="Dashboard" asp-action="Index">
                <i class="fa fa-chart-line"></i>
                Dashboard
            </a>
        </li>

        <li>
            <a asp-controller="Subjects" asp-action="Index">
                <i class="fa fa-book"></i>
                Môn học
            </a>
        </li>

        <li>
            <a asp-controller="Questions" asp-action="Index">
                <i class="fa fa-database"></i>
                Ngân hàng câu hỏi
            </a>
        </li>

        <li>
            <a asp-controller="Exams" asp-action="Index">
                <i class="fa fa-file"></i>
                Tạo đề thi
            </a>
        </li>

        <li>
            <a asp-controller="Results" asp-action="Index">
                <i class="fa fa-chart-bar"></i>
                Kết quả sinh viên
            </a>
        </li>

        <li>
            <a asp-controller="Blog" asp-action="Index">
                <i class="fa fa-blog"></i>
                Blog
            </a>
        </li>

        <li>
            <a asp-controller="Documents" asp-action="Index">
                <i class="fa fa-folder"></i>
                Tài liệu
            </a>
        </li>

    </ul>

</nav>
